.App {
  font-family: sans-serif;
  text-align: center;
}

h1 {
  font-family: "Courier New", monospace;
  text-align: center;
}

h3 {
  font-family: "Courier New", monospace;
  text-align: center;
}
